.page-spinner {
  background: #000;
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.canvas {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}
