.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.8);
}

.loader {
  display: inline-grid;
  width: 100px;
  aspect-ratio: 2;
  box-shadow: 0 5px #a5b4fc;
  overflow: hidden;
}

.loader:before {
  content: '';
  margin: 0 25%;
  background: #a855f8;
  clip-path: polygon(97.55% 65.45%, 50% 100%, 2.45% 65.45%, 20.61% 9.55%, 79.39% 9.55%);
  transform-origin: bottom;
  animation:
    l7-0 0.5s linear infinite,
    l7-1 3s steps(6) infinite;
}

@keyframes l7-0 {
  0% {
    rotate: -36deg;
  }
  to {
    rotate: 36deg;
  }
}

@keyframes l7-1 {
  0% {
    translate: -174% 0;
  }
  to {
    translate: 174% 0;
  }
}
